/* ------------------------------------- */
/* HEADER                                */
/* ------------------------------------- */

/* .main-header {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }


}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle__label {
    background-color: yellow;
  }

} */

/* ------------------------------------- */
/* NAVBAR                                */
/* ------------------------------------- */

/* .nav-bar {
  background-color: mediumaquamarine;

  &__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
    background-color: pink;
  }

  &__nav-link {
    display: block;
    background-color: purple;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  } */

/* ------------------------------------- */
/* SEARCH BAR                            */
/* ------------------------------------- */

/* .search-bar {
  background-color: olivedrab;
  display: flex;
  justify-content: space-between;

  &__logo-container,
  &__form-container {
    padding: 1em;
  }

  &__logo-container {
    background-color: yellow;
  }

  &__form-container {
    background-color: gold;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  &__form-label {
    background-color: greenyellow;
  }

  &__form-search {
    background-color: deeppink;
    width: 70%;
  }

  &__form-submit {
    background-color: darkslategray;
    color: white;
  }

  &__carrito-container {
    flex: 0 0 3em; // shorthand (grow shrink basis 
    background-color: goldenrod;
  }
*/

/* ------------------------------------- */
/* MENU TOOGLE                           */
/* ------------------------------------- */

/* .menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: black;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
  }

  &__top-bread {
    top: .8em;
  }

  &__meat {
    top: 50%;
    margin-top: -.1em;
  }

  &__bottom-bread {
    bottom: .8em;
  }

  @media (max-width: 768px) {
    & {
      display: block;
    }
  }
} */

.main-header {
  background-color: #89119D;
}

#menu {
  display: none;
}

img{
  max-width: 100%;
}

.nav-bar {
  padding: 20px 15px;
  border-bottom: 2px solid #FFCE00;

  &__nav-list {
    display: flex;
    justify-content: space-around;
    gap: 1.2em;
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }

  &__nav-link {
    text-decoration: none;
    color: #FFCE00;
    font-size: 20px;
    position: relative;
    padding: 0 8px;
  }

  &__nav-link::after{
    content: "";
    height: 10px;
    width: 10px;
    border-top: 2px solid #FFCE00;
    border-right: 2px solid #FFCE00;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
  }
   &__nav-link::before{
    content: "";
    height: 10px;
    width: 10px;
    border-bottom: 2px solid #FFCE00;
    border-left: 2px solid #FFCE00;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
  }

  &__nav-link:hover::after,&__nav-link:hover::before{
    height: 100%;
    width: 100%;
  }

}

.search-bar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;

  &__form-search{
    border: none;
    outline: none;
    padding: 0.1rem;
  }

  &__carrito-container img{
    width: 30px;
    background-color: #FFCE00;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &__carrito-container img:hover{
    transform: scale(1.1);
  }

  &__carrito-container {
    position: absolute;
    top: 3%;
    right: 1%;
  }

  &__logo-container {
    margin-bottom: 10px;
  }

  &__form-label {
    display: none;
  }

  &__form-search {
    width: 250px;
  }

  &__form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__form-submit{
    background-color:#FFCE00;
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    color: #9C27B0;
    cursor: pointer;
  }

  &__form-submit:hover{
    background-color: #C758DA;
    color: #FFCE00;
  }
}



@media(max-width:465px){
  .nav-bar__nav-link::after,.nav-bar__nav-link::before{
    height: 0px;
    width: 0px;
    border: none;
  }

  .nav-bar__nav-link:hover::after,.nav-bar__nav-link:hover::before{
    height: 0;
    width: 0;
  }

  .nav-bar__nav-list{
    width: 100%;
  }
  
}